*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{cursor: pointer;}



.container{
    margin: 4rem auto;
    width: 80vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cock{
    width: 150%;
    position: absolute;
    transform: translateY(-200%);
    transition:all .2s linear;
}

.timer_display{
    width: 50%;
    height: 50%;
    position: relative;
}
.time{
    position: absolute;
    top:52%;
    left: 34%;
    font-size: 2.9vw;
}
.side_panel{
    max-width: 50%;
    max-height: 50%;
}
.honeypot{
    width: 90%;

}

.numbers{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.one23, .four56, .seven89, .zero{
    width: 100%;
    display: flex;
    justify-content: center;
}
.numbers img{
    max-width: 20%;
    max-height: 100px;
    margin: .3rem;
}
.numbers img:hover{
    transform: scale(1.1);
 }
.set, .clear {
    border: none;
    background: transparent;
    outline: transparent;
    cursor: pointer;
}
.set, .clear {
    max-width: 30%;
    max-height: 200px;
}

.buttons img{
    pointer-events: none;
    max-width: 50%;
    max-height: 200px;
}
.buttons{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.timer_display{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#form{
    display: flex;
    justify-content: space-around;
    height: 50%;
}
#hr, #min, #sec {
    height: 30px;
    width: 90px;
    margin: 0 .5rem;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: transparent;
    font-size: 1rem;
    text-align: center;
}


.cli, .set, .clear{
    font-family: 'Luckiest Guy', cursive;
    width: 15vw;
    height: 5vh;
    padding-top:.3rem ;
    font-size: 2.5vw;
    border-radius: 15px;
    border: 1px solid black;
    outline: transparent;
    cursor: pointer;
    margin: .3rem .3rem;
        
}
.cli{    background:rgba(194, 58, 8, 0.899);}
.set{    background:rgba(255, 255, 0, 1);
}
.clear{    background:rgba(255, 133, 0, 1);
}

/* utility classes  */
.hide{
    pointer-events: none;
    opacity: .3;
}
.show{
    pointer-events: all;
    opacity: 1;
}

.move_cock{
    transform: translateY(0);
}